@font-face {
  font-family: 'Almaq Refined';
  src: url('./AlmaqRefined.woff2') format('woff2'),
    url('./AlmaqRefined.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('./brother-1816-regular.woff2') format('woff2'),
    url('./brother-1816-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('./brother-1816-regular-italic.woff2') format('woff2'),
    url('./brother-1816-regular-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('./brother-1816-medium.woff2') format('woff2'),
    url('./brother-1816-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('./brother-1816-medium-italic.woff2') format('woff2'),
    url('./brother-1816-medium-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('./brother-1816-bold.woff2') format('woff2'),
    url('./brother-1816-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Brother 1816';
  src: url('./brother-1816-bold-italic.woff2') format('woff2'),
    url('./brother-1816-bold-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
